.circle {
    border-radius: 50%;
    margin: auto;
    width: 75%;
    max-width: 8rem;
}

.logo-container {
    padding: 1rem;
}

h1 {
    font-weight: 300;
}

.client-name {
    color: rgb(23, 88, 172);
}