<div fxLayout="row" fxLayout.lt-sm="column">

  <div fxFlex fxLayoutAlign="center center">
    <mat-form-field class="field" appearance="outline">
      <mat-label>Redirect URI</mat-label>
      <input matInput type="url" [value]="client.redirect_uri" readonly>
    </mat-form-field>
  </div>

  <div fxFlex fxLayoutAlign="center center">
    <mat-list>
      <h3 mat-subheader>OAuth 2.0 Flows</h3>
      <mat-list-item *ngFor="let grantType of client.grant_types">
        <mat-icon mat-list-icon color="primary">security</mat-icon>
        <app-flow *ngIf="getFlowForGrantType(grantType)" [flow]="getFlowForGrantType(grantType)"></app-flow>
        <h4 matLine *ngIf="!getFlowForGrantType(grantType)">{{grantType}}</h4>
      </mat-list-item>
    </mat-list>
  </div>

</div>
