<div fxLayout="row" fxLayout.lt-sm="column">

  <div fxFlex fxLayoutAlign="center center">
    <mat-form-field class="field" appearance="outline">
      <mat-label>Client ID</mat-label>
      <input matInput type="text" [value]="client.client_id" readonly>
    </mat-form-field>
  </div>

  <div fxFlex fxLayoutAlign="center center" fxLayout="row" fxLayoutGap="0.5rem">
    <mat-form-field class="field" appearance="outline">
      <mat-label>Client Secret</mat-label>
      <input matInput [type]="hideSecret ? 'password' : 'text'" [value]="client.client_secret" readonly>
      <mat-icon matSuffix (click)="hideSecret = !hideSecret">{{hideSecret ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
  </div>
</div>
