.info {
    color: darkgray;
}

.flow-info-body {
    padding: 1rem;
}

.flow-info-body h4 {
    font-weight: 300;
    color: rgb(23, 88, 172);
}

.flow-info-body a {
    background-color: rgb(7, 58, 126);
    color: white;
}
