<mat-sidenav-container class="sidenav-container" autosize>
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)" [class.space-right]="(isHandset$ | async) || isExpanded">
    <mat-nav-list>
        <mat-list-item routerLink="/" routerLinkActive="active-list-item" [routerLinkActiveOptions]="{exact: true}">
          <mat-icon mat-list-icon>home</mat-icon>
          <h4 mat-line *ngIf="(isHandset$ | async) || isExpanded">Home</h4>
        </mat-list-item>
        <mat-list-item routerLink="/clients" routerLinkActive="active-list-item">
          <mat-icon mat-list-icon>apps</mat-icon> <!-- shop -->
          <h4 mat-line *ngIf="(isHandset$ | async) || isExpanded">Clients</h4>
        </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="toggleSidenav(drawer)">
        <mat-icon aria-label="Side nav toggle icon">{{!shouldToggle && isExpanded ? 'close' : 'menu'}}</mat-icon>
      </button>
      <div fxFlex fxLayout fxLayoutAlign="end center">
        <app-user-picture style="max-width: 2.5rem;" [user]="userService.getLoggedUser()" [matMenuTriggerFor]="userMenu" [matTooltip]="userService.getLoggedUser().userID"></app-user-picture>
        <mat-menu #userMenu="matMenu">
          <div class="user-menu-greeting">
            <span style="display: block;">Hi <span class="user-id">{{userService.getLoggedUser().name || userService.getLoggedUser().userID}}</span>!</span>
            <span class="user-email"><mat-icon inline="true">email</mat-icon> {{userService.getLoggedUser().email}}</span>
          </div>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="logout()"><mat-icon class="logout-icon">cancel</mat-icon> Logout</button>
        </mat-menu>
      </div>
    </mat-toolbar>
    <div class="wrapper">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
