.sidenav-container {
  height: 100%;
}

.sidenav {
  background: rgb(23, 88, 172);
  color: #fff;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.sidenav .mat-list-item {
  color: white;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-toolbar {
  background: rgb(238, 238, 238);
  color: black;
}

.wrapper {
  margin-right: auto;
  margin-left:  auto;
  max-width: 100%;
  padding-right: 2rem;
  padding-left:  2rem;
}

.active-list-item {
  background-color: rgb(10, 68, 143) !important;
}

.space-right {
  min-width: 12rem;
}

.user-menu-greeting {
  padding: 2rem;
  text-align: center;
  font-size: 1.5rem;
  color: gray;
}

.user-id {
  color: rgb(10, 68, 143);
  font-weight: 500;
}

.user-email {
  font-size: 1rem;
  color: rgb(23, 88, 172)
}
