<mat-card class="main-card">
  <div fxLayout="row" fxLayoutAlign="begin center" fxLayoutGap="0.5rem" class="login-form-header">
    <img src="assets/images/gopher-icon.png" alt="mimir icon"/>
    <span>Sign in with Mimir</span>
  </div>
  <mat-card-content fxLayout="column" fxLayoutAlign="center" fxLayoutGap="1rem" class="login-form-body mat-elevation-z8">
    <div fxLayout="column" fxLayoutAlign="center center">
      <h1>Sign in to <span class="organization">{{organizationName}}</span></h1>
      <span>Introduce your credentials</span>
    </div>
    <form fxLayout="column" fxLayoutGap="0.5rem" [formGroup]="loginForm" #formDirective="ngForm" (ngSubmit)="onSubmit(formDirective)">
      <mat-form-field appearance="outline">
        <mat-label>Introduce your User ID</mat-label>
        <input matInput formControlName="username">
        <mat-error *ngIf="this.loginForm.get('username').invalid">You must provide a User ID</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Introduce your password</mat-label>
        <input matInput type="password" formControlName="password" [type]="hidePassword ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="this.loginForm.get('password').invalid">You must provide a Password</mat-error>
      </mat-form-field>
      <mat-chip-list fxLayoutAlign="center" selectable=false>
        <mat-chip class="error-message" *ngIf="error">
          <mat-icon>error_outline</mat-icon> {{error.error_reason}}
        </mat-chip>
      </mat-chip-list>
      <button mat-raised-button type="submit" color="primary" [disabled]="inProgress || loginForm.invalid">
        <span *ngIf="!inProgress">Login</span>
        <span *ngIf="inProgress">Processing...</span>
      </button>
    </form>
  </mat-card-content>
</mat-card>
