.spaced {
    margin-top: 0.5rem;
    color: grey;
}

h4 {
    font-weight: 300;
    color: rgb(23, 88, 172);
}

.header {
    padding: 0.5rem;
}

.info-body {
  padding: 0.5rem;
  padding-left: 1rem;
  background-color: rgb(243, 243, 243);
}
