.background {
    background-color: rgb(23, 88, 172);
}

.checking {
    text-align: center;
    color: rgb(23, 88, 172);
    padding: 4rem;
}

.checking ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: rgb(23, 88, 172);
}

.error {
    color: red;
    padding: 4rem;
}
